@import '../variables';

.categories {
	ul {
		display: flex;
		align-items: center;
		gap: 10px;

		li {
			background-color: #f9f9f9;
			padding: 10px 30px;
			border-radius: 30px;
			font-weight: 400;
			cursor: pointer;
			font-size: 13px;
			transition: background-color 0.1s ease-in-out;
			@include noselect();

			&:hover {
				background-color: darken(#4f4c4c, 2%);
				color: white;
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background-color: #282828;
				color: #fff;
			}
		}
	}
}
