@import '../variables';

.sort {
	position: relative;
	&__label {
		display: flex;
		align-items: center;

		svg {
			margin-right: 8px;
		}

		b {
			margin-right: 8px;
			font-size: 16px;
			font-weight: 500;
		}

		span {
			color: rgb(207, 24, 146);
			border-bottom: 1px dashed #161619;
			cursor: pointer;
			font-size: 14px;
		}
	}

	&__popup {
		position: absolute;
		right: 0;
		margin-top: 15px;
		background: #ffffff;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
		border-radius: 10px;
		overflow: hidden;
		padding: 10px 0;
		width: 160px;

		ul {
			overflow: hidden;
			li {
				padding: 12px 20px;
				cursor: pointer;
				font-size: 15px;

				&.active,
				&:hover {
					background: rgba(113, 112, 112, 0.05);
				}

				&.active {
					font-weight: bold;
					color: #161619;
				}
			}
		}
	}
}
